<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet" />
    <!--cite javascript-->
    <script src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js" type="text/jscript"></script>
    <script type="text/javascript">
        $(function () {
            setTimeout(function () { window.location = "/home/Mainfrm"; }, 3000);
        })
    </script>
</head>
<body>
    <div class="DefaultLine" style="height: 30px">
        <label class="Font_Color_w">欢迎进入本系统</label>
    </div>
    <div style="width: 100%; height: 250px; background-color: #2575CF; text-align: center">
        <img alt="广而告之" src="@ViewBag.GuangGao" style="width:100%;height:100%" />
    </div>
    <div class="alignment-center" style=" margin-bottom:25px;left: 10%; right: 10%"><label>Industry development and management</label></div>
</body>
</html>
