<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet" />
    <!--cite javascript-->
    <script src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js" type="text/jscript"></script>
    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function () {
            setTimeout(function () { window.location = "/home/Mainfrm"; }, 3000);
        })
    </script>
</head>
<body class="contextStyle">
    <div class="container font_common wholeLine">
        <div class="DefaultLine wholeLine" style="height: 30px">
            <div class="fl Font_Color_w bold vertical-center">
                &nbsp;&nbsp;欢迎进入本系统
            </div>
            <div class="fr vertical-center"><a href="#" class="Font_Color_w bold ">&nbsp;&nbsp;  </a></div>
        </div>
        <div class="" style="height: 15px">
            <!-- Place holder-->
        </div>
        <!-- personal information edit-->
        <div style="width: 100%; height: 250px; background-color: #2575CF; text-align: center">
            <div id="pic_ad" style="border: solid; height: 350px" value="">
                <img alt="" , id="img_GuangGao" src="@ViewBag.GuangGao" />
            </div>
        </div>
        <div>
        </div>
        <!--
  			<div class="Font_Color_w fl" style="width:50%;text-align:center; bottom:50%; font-size:40px; height: 100px " > 
  				91 
  			</div>
  			<div class="fl ColorFrm fl" style="width:45%; font-size: 25px; border: 1px; "> 
  				排名
  			</div>
  			-->
    </div>
    <div class="alignment-center font_common" style="position: absolute; bottom: 20px; left: 10%; right: 10%">Industry development and management</div>
</body>
<footer></footer>
</html>
