<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <link rel="icon" href="/favicon.ico">
    <title>SF Logistics CRM system</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet" />
    <!--cite javascript-->
    <script src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            textClear();
            btn_Logout();
            btn_Login();
        })
        //赵凯，2016.07.06，清空text内容
        function textClear() {
            $("input[type='text']").focus(function () {
                $(this).val("");
            });
            $("input[type='password']").focus(function () {
                $(this).val("");
            });
        }
        //赵凯，2016.07.06，模拟表单请求
        function SimulationFormRequest() {
            var loginNameValue = $("#txt_Username").val();
            var passwordValue = $("#txt_Password").val();
            var data = {
                loginName: loginNameValue,
                password: passwordValue,
            }
            $.post("/home/Login", data, function (returnData) {
                if (returnData.ReturnTypeStr == "Success") {
                    window.location.href = returnData.Data;
                    return false;
                }
                alert(returnData.WarnMessage);
            })
        }
        function btn_Login() {
            $('#btn_Login').click(function () {
                SimulationFormRequest();
            })
        }
        function btn_Logout() {
            $('#btn_Logout').click(function () {
                window.close();
            })
        }
    </script>
</head>
<body>
    <div class="container">
        <div style="text-align: center; background: url('/Images/topicLogo.jpg'); height: 150px; color: #FFFFFF">
            <label class="vertical-center" style="font-size: 20px">
                行业开发管理系统 IDM
            </label>
        </div>
        <div style="height: 50px; background-color: #2575CF">
        </div>
        <div style="height: 50px">
        </div>
        <div id="LoginForm" class="alignment-center">
            <input type="text" id="txt_Username" style="padding-top: 10px;" class="input_text font_common elementWidth" value="请输入您的用户名" /><br />
            <input type="password" id="txt_Password" style="padding-top: 10px" class="input_text font_common elementWidth" value="请输入您的密码" />
        </div>
        <div class="alignment-center">
            <input type="checkbox" style="display:none" class="input_text" />
            <label style="display:none">记住我</label>
            <a href="javascript;" style="display:none">忘记密码？</a>
        </div>
        <div class="alignment-center " style="margin-top:25px">
            <input type="button" id="btn_Login" class="button blue" value="登 录" />
            <input type="button" id="btn_Logout" class="button blue" value="退 出" />
        </div>
        <form method="post" id="login_form" action="/Home/SuccessLogin"></form>
    </div>
    <div class="alignment-center font_common" style="margin-top:25px; left: 10%; right: 10%"><label>Industry development and management</label></div>
</body>
</html>
