@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <link rel="icon" href="../../favicon.ico">

    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet">
    <!--cite javascript-->
    <script type="text/javascript" src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js"></script>

    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function btn_Login()
        {
            SimulationFormRequest();
        }
        $(function () {
            //btn_Logout();
            // btn_Modify();
        })
        //赵凯，2016.07.06，清空text内容
        function textClear() {
            $("input[type='text']").focus(
                function () {
                    $(this).val("");
                });
        }

        //赵凯，2016.07.06，模拟表单请求
        function SimulationFormRequest() {
            var txt_ps = $("#txt_ps").val(); //acquire the password
            var txt_ps_confirmation = $("#txt_ps_confirmation").val();

            //get information from cookie
            //var txt_us =

            checkPs(txt_ps, txt_ps_confirmation);

            var data = {
                //strUsername: txt_us,
                strPassword: txt_ps_confirmation,
            }

            $.post("/Home/PersonalEditAjax", data, function (returnData) {
                if (returnData.ReturnTypeStr == "Success") {
                    alert("密码修改成功");
                    window.location.href = returnData.Data;
                    return true;
                }
                else
                {
                    alert("修改出错");
                    alert(returnData.WarnMessage);
                    return false;
                }

            })
        }

        function checkPs(strPs,strPsComfirmation)
        {
            if (strPs || strPsComfirmation != "") {
                if (strPs != strPsComfirmation) {
                    alert("2次密码输入不匹配，请重新输入");
                    return false;
                }
                else {

                    return true;
                }
            }
            else
            {
                alert("用户密码不能为空.");
            }
        }


     

        function btn_Logout() {
            $('#btn_Logout').click(function () {
                window.close();
            })
        }
    </script>


</head>

<body class="contextStyle">
    <div class="container font_common wholeLine">
        <div class="DefaultLine wholeLine" style="height:30px">
            <div class="fl Font_Color_w bold vertical-center">
                &nbsp;&nbsp;编辑资料
            </div>
            <div class="fr vertical-center"><a href="#" class="Font_Color_w bold ">注销  &nbsp;&nbsp;  </a></div>
        </div>
        <div class="" style="height:15px">
            <!-- Place holder-->
        </div>

        <!-- personal information edit-->
        <div style="width:100%; height:250px;background-color:#9ACFEA; text-align: center">

            <table class="Absolute-Center" style="width:80%; border: solid 1px #999999">
                <tr class="colMinHeight">
                    <td style="text-align: center ">
                        姓名：
                    </td>
                    <td style="text-align: center; border: solid 1px #999999">
                        <input type="text" class="txtbox" readonly="true">
                    </td>
                </tr>
                <tr class="colMinHeight">
                    <td style="text-align: center ">
                        工号：
                    </td>
                    <td style="text-align: center; border: solid 1px #999999">
                        <input type="text" class="txtbox" readonly="true">
                    </td>
                </tr>
                <tr class="colMinHeight">
                    <td style="text-align: center ">
                        机构代码：
                    </td>
                    <td style="text-align: center; border: solid 1px #999999">
                        <input type="text" class="txtbox" readonly="true">
                    </td>
                </tr>
                <tr class="colMinHeight">
                    <td style="text-align: center ">
                        组织名称：
                    </td>
                    <td style="text-align: center; border: solid 1px #999999">
                        <input type="text" class="txtbox" readonly="true">
                    </td>
                </tr>
                <tr class="colMinHeight">
                    <td style="text-align: center ">
                        密码修改：
                    </td>
                    <td style="text-align: center; border: solid 1px #999999">
                        <input id="txt_ps" type="text" class="txtbox">
                    </td>
                </tr>
                <tr class="colMinHeight">
                    <td style="text-align: center ">
                        密码确认：
                    </td>
                    <td style="text-align: center; border: solid 1px #999999">
                        <input id="txt_ps_confirmation" type="text" class="txtbox">
                    </td>
                </tr>
            </table>


        </div>
        <div class="Absolute-Center">
            <div id="btn_Modify" style="float: left">
                <input id="btnModify" type="button" class="button blue" onclick="btn_Login()" value="完 成" />
            </div>

            <div id="btn_PlaceHolderLength" style="width:15px; float: left">
                &nbsp;&nbsp;&nbsp;
            </div>
            <div id="btn_Cancel" style="float: left">
                <input type="button" class="button blue" value="返 回" />
            </div>
        </div>
        <!--
        <div class="Font_Color_w fl" style="width:50%;text-align:center; bottom:50%; font-size:40px; height: 100px " >
            91
        </div>
        <div class="fl ColorFrm fl" style="width:45%; font-size: 25px; border: 1px; ">
            排名
        </div>
        -->
    </div>
    </div>
    <div class="alignment-center font_common" style=" position:absolute;bottom:20px; left:10%; right:10%">Industry development and management</div>
</body>
<footer></footer>
</html>