<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <link rel="icon" href="../../favicon.ico">

    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet">
    <!--cite javascript-->
    <script type="text/javascript" src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        function GoRankDetial(strPosition) {
            localStorage.setItem("strPosition", strPosition);
            window.location.href = "RankDetail";
        }
    </script>


</head>

<body class="contextStyle">
    <div class="container font_common wholeLine">
        <div class="DefaultLine wholeLine" style="height:30px">
            <div class="fl Font_Color_w bold vertical-center">
                &nbsp;&nbsp;维度排名
            </div>
            <div class="fr vertical-center"><a href="/home/Mainfrm" class="Font_Color_w bold ">返回  &nbsp;&nbsp;  </a></div>
        </div>
        <div class="" style="height:15px">
        </div>
        <div style="width:100%; height:250px;background-color#2575CF; text-align: center">
            <div id="div_area_manager" class="bluerow Font_Color_w largeFont" onclick="GoRankDetial('分部经理')"> 分部经理 </div>
            <div class="plaintrow">
            </div>
            <div id="div_saler" class="bluerow Font_Color_w largeFont" onclick="GoRankDetial('销售')"> 销售 </div>
            <div class="plaintrow">
            </div>
            <div id="div_business_manager" class="bluerow Font_Color_w largeFont " onclick="GoRankDetial('业务主管')"> 业务主管 </div>
            <div class="plaintrow">
            </div>
            <div id="div_place_manager" class="bluerow Font_Color_w largeFont" onclick="GoRankDetial('点部主管')"> 点部主管 </div>
            <div class="plaintrow">
            </div>
            <div id="div_sender" class="bluerow Font_Color_w largeFont" onclick="GoRankDetial('收派员')"> 收派员 </div>
        </div>
    </div>
    <div class="alignment-center font_common" style=" position:absolute;bottom:20px; left:10%; right:10%">Industry development and management</div>
</body>
</html>
