<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <link rel="icon" href="../../favicon.ico">

    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet">
    <!--cite javascript-->
    <script type="text/javascript" src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js"></script>



    <script type="text/javascript">
        function BindingText()
        {
            $("#divLevel").html("&nbsp;&nbsp;" + localStorage.getItem("strPosition"));
            SimulationFormRequest();
        }

        function SimulationFormRequest()
        {
            
            var data =
                {
                    strPosition: localStorage.getItem("strPosition")
                }

            $.post("/Home/RankByLevelAjax", data, function (returnData) {
                if (returnData.ReturnTypeStr == "Success") {
                    $("#divContent").html(returnData.Data);
                    return true;
                }
                else {
                    //alert("数据加载有误");
                    //alert(returnData.WarnMessage);
                    $("#divContent").html(returnData.Data);
                    return false;
                }

            })
        }

    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body class="background-color:#efefef;" onload="BindingText()">
    <div class="container font_common wholeLine">
        <div class="DefaultLine wholeLine" style="height:30px">
            <div id="divLevel" class="fl Font_Color_w bold vertical-center">
                &nbsp;&nbsp;分部经理
            </div>
            <a href="/home/Mainfrm" class="fr Font_Color_w bold vertical-center ">返回&nbsp;&nbsp;</a>
        </div>
     </div>
        <div class="wholeLine" style="background:#FFFFFF">&nbsp;</div>
        <div id="divContent" style="height:100px;width:90%;margin-left:5%">

            
        </div>

        <div class="alignment-center font_common" style="position:absolute;bottom:20px; left:10%; right:10%">Industry development and management</div>
</body>
<footer></footer>
</html>