@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessLogin</title>
</head>
<body>
    <div>
        <h3>登陆成功</h3>
    </div>
</body>
</html>
