<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <link rel="icon" href="/favicon.ico">

    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/page.css" rel="stylesheet">
    <!--cite javascript-->
    <script type="text/javascript" src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript">
        $(function () {
            InitStatic();
        })
        function InitStatic() {
            $.post("/Home/VisitRecordEditStaticAjax", null, function (returnData) {
                if (returnData.ReturnTypeStr != "Success") {
                    alert(returnData.WarnMessage);
                    return;
                }
                InitStaticInfo('sel_Product', returnData.Data.Product)
                InitStaticInfo('sel_Phrase', returnData.Data.Phrase)
                InitStaticInfo('sel_Type', returnData.Data.VisitKind)
                InitStaticInfo('sel_Profession', returnData.Data.Profession)
                InitRq(returnData.Data.Rq);
            })
        }
        function InitStaticInfo(Id, data) {
            for (x in data) {
                var dataInfo = data[x];
                $('#' + Id).append("<option myId='" + dataInfo.Id + "'>" + dataInfo.Name + "</option>");
            }
        }
        function InitRq(data) {
            var td = "";
            for (x in data) {
                var dataInfo = data[x];
                $('#spanRq').append("<label onclick='changeStyle(this)' name='RqDiv' class='uncheckedbox' rqid='" + dataInfo.Id + "'>" + dataInfo.Name + "</label>");
                $('#spanRq').append("&nbsp;&nbsp;&nbsp;&nbsp;");
            }
        }
        function checkListItem() {
            var bChecked = 0;
            $("label[name='RqDiv']").each(
                function () {
                    if ($(this).hasClass("checkedbox")) {
                        bChecked += 1;
                    }
                }
            )
            debugger;
            if (bChecked == 0) {
                alert("请选择需求");
                return false;
            }
            if ($("#txt_ClientName").val().trim() == "") {
                alert("请输入客户名称");
                return false;
            }
            else if ($("#strCustomerName").val().trim() == "") {
                alert("请输入拜访人信息");
                return false;
            }

            else if ((bChecked == 0) && ($("#txt_Remark").val().trim() == "")) {
                alert("请输入备注信息");
                return false;
            }

            else { return true; }


        }
        function changeStyle(obj) {
            if ($(obj).hasClass("checkedbox")) {
                $(obj).removeClass("checkedbox");
                $(obj).addClass("uncheckedbox");
            }
            else {
                $(obj).removeClass("uncheckedbox");
                $(obj).addClass("checkedbox");
            }
        }

        function SubmitInfo() {

            if (!checkListItem()) {
                return false;
            }
            //获取已经填写的数据
            var strClientName = $("#txt_ClientName").val();
            var strMonthlyAccountNo = $("#txt_MonthlyAccountNo").val();
            var strAmount = $("#txt_Amount").val();
            var strProduct = jQuery("#sel_Product  option:selected").attr("myid");
            var strProfession = jQuery("#sel_Profession  option:selected").attr("myid");
            var strType = jQuery("#sel_Type option:selected").attr("myid");
            var strPhrase = jQuery("#sel_Phrase option:selected").attr("myid");
            var strCustomerName = $("#strCustomerName").val();
            var strRqArray = "";
            $("label[name='RqDiv']").each(
                function () {
                    if ($(this).hasClass("checkedbox")) {
                        strRqArray += $(this).attr("RqID");
                        strRqArray += "*";
                        strRqArray += $(this).attr("RqName");
                        strRqArray += ";";
                    }
                }
            )
            strRqArray = strRqArray.substring(0, strRqArray.length - 1)
            var strRemark = $("#txt_Remark").val();

            var data =
               {
                   strClientName: strClientName,
                   strMonthlyAccountNo: strMonthlyAccountNo,
                   strAmount: strAmount,
                   strProduct: strProduct,
                   strProfession: strProfession,
                   strType: strType,
                   strPhrase: strPhrase,
                   strCustomerName: strCustomerName,
                   strRqArray: strRqArray,
                   strRemark: strRemark,
               }

            $.post("/Home/VisitRecordAdd", data, function (returnData) {
                if (returnData.ReturnTypeStr == "Success") {
                    alert("添加成功");
                    window.location.href = "/Home/Visit_Record_List";
                    return true;
                }
                else {

                    return false;
                }

            })
        }
    </script>
</head>

<body class="contextStyle" onload="">
    <div class="container font_common wholeLine">
        <div class="DefaultLine wholeLine" style="height:30px">
            <div class="fl Font_Color_w bold vertical-center">
                &nbsp;&nbsp;行业开发汇报
            </div>
            <div class="fr vertical-center"><a href="/home/Mainfrm" class="Font_Color_w bold ">返回 &nbsp;&nbsp;  </a></div>
        </div>
        <div style="padding-top:10px">
            <label style="text-align:left;width:auto" class="vra_field_label">
                客户名称:
            </label>
            <input type="text" id="txt_ClientName" class="txtbox2" style="padding-top:5px; text-align: center;width:70%;">
        </div>
        <div style="padding-top:10px">
            <label style="text-align:left;width:auto" class="vra_field_label">
                月结账号:
            </label>
            <input type="text" id="txt_MonthlyAccountNo" class="txtbox2" style="padding-top:5px; text-align: center;width:70%;">
        </div>
        <div style="padding-top:10px">
            <label style="text-align:left;width:auto" class="vra_field_label">
                潜力金额:
            </label>
            <input type="text" id="txt_Amount" class="txtbox2" style="padding-top:5px; text-align: center;width:70%;">
        </div>
        <div style="padding-top:10px">
            <div style="float:left;margin-right:30px;">
                <label>产品:</label>
                <select id="sel_Product" class="ddl" style="width:80px"></select>
            </div>
            <div>
                <label>行业:</label>
                <select id="sel_Profession" class="ddl" style="width:80px"></select>
            </div>
            <div style="height:15px">
            </div>
            <div style="float:left;margin-right:30px;">
                <label>类型:</label>
                <select id="sel_Type" class="ddl" style="width:80px"></select>
            </div>
            <div>
                <label>阶段:</label>
                <select id="sel_Phrase" class="ddl" style="width:80px"></select>
            </div>
        </div>

        <div style="margin-top:10px;padding-top:10px">
            <label style="text-align:left;width:auto" class="vra_field_label">
                拜访人:
            </label>
            <input type="text" id="strCustomerName" class="txtbox2" style="padding-top:5px; text-align: center;width:70%;">
        </div>

        <div>
            <label>
                需求:
            </label>
            <span id="spanRq"></span>
        </div>
        <div style="margin-top:5px;">
            <div style="float:left"><label>备注:</label></div>
            <textarea id="txt_Remark" style="width:70%;height:60px; margin-left:10px"></textarea>
        </div>
    </div>
    <div id="btn_Modify">
        <input type="button" onclick="SubmitInfo()" style="left:40%;right:40%; margin-top:50px" class="button blue" value="提 交" />
    </div>
    <div class="alignment-center font_common" style="margin-top:10px; left:10%; right:10%">Industry development and management</div>
</body>
</html>