<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="XHRT">
    <link rel="icon" href="../../favicon.ico">

    <title>SF Logistics CRM system</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/CommonCss/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="~/Content/CommonCss/css/shared.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/comb.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/base.css" rel="stylesheet">
    <link href="~/Content/CommonCss/css/page.css" rel="stylesheet">
    <!--cite javascript-->
    <script type="text/javascript" src="~/Scripts/CommonJs/js/jquery-3.0.0.min.js"></script>

    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(function () {
            InitStatic();
            $('#buttonUpdate').click(function () {
                var data = {
                    Id: $('#reportId').val(),
                }
                $.post("/Home/VisitRecordEditUpdateCheckAjax", data, function (returnData) {
                    if (returnData.ReturnTypeStr != "Success") {
                        alert(returnData.WarnMessage);
                        return;
                    }
                    $('#VisitNote').hide();
                    $('#VisitNoteWrite').show();
                    $('#buttonUpdate').hide();
                    $('#buttonUpdateFishin').show();
                    $('#MonthlyAccount').removeAttr("readonly");
                    $('#ProAmount').removeAttr("readonly");
                    $('#MonthlyAccount').removeClass("txtbox2");
                    $('#ProAmount').removeClass("txtbox2");
                })
            });
            $('#buttonUpdateFishin').click(function () {
                var rqs = $("#spanRq label.checkedbox");
                var rqIds = "";
                for (var i = 0; i < rqs.length; i++) {
                    rqIds += $(rqs[i]).attr("myId") + ",";
                }
                var input = {
                    ReportId: $('#reportId').val(),
                    MonthlyAccount: $('#MonthlyAccount').val(),
                    ProAmount: $('#ProAmount').val(),
                    ProductId: $("#product option:selected").attr("myId"),
                    ProfessionId: $("#profession option:selected").attr("myId"),
                    VisitKind: $("#visitKind option:selected").attr("myId"),
                    PhraseId: $("#phrase option:selected").attr("myId"),
                    RqIdsStr: rqIds,
                    VisitPersonName: $('#visitPerson').val(),
                    Remark: $('#visitNote').val(),
                }
                $.post("/Home/VisitRecordEditUpdateAjax", input, function (returnData) {
                    if (returnData.ReturnTypeStr != "Success") {
                        alert(returnData.WarnMessage);
                        return;
                    }
                    window.location.href = "/Home/Visit_Record_List"
                })
            })
        })

        function InitStatic() {
            $.post("/Home/VisitRecordEditStaticAjax", null, function (returnData) {
                if (returnData.ReturnTypeStr != "Success") {
                    alert(returnData.WarnMessage);
                    return;
                }
                InitStaticInfo('product', returnData.Data.Product)
                InitStaticInfo('phrase', returnData.Data.Phrase)
                InitStaticInfo('visitKind', returnData.Data.VisitKind)
                InitStaticInfo('profession', returnData.Data.Profession)
                InitRq(returnData.Data.Rq);
                var data = {
                    Id: $('#reportId').val(),
                };
                $.post("/Home/VisitRecordEditDataAjax", data, function (returnDataTwo) {
                    if (returnDataTwo.ReturnTypeStr != "Success") {
                        alert(returnDataTwo.WarnMessage);
                        return;
                    }
                    $('#CustomerName').html(returnDataTwo.Data.CustomerName);
                    $('#MonthlyAccount').val(returnDataTwo.Data.MonthlyAccount);
                    $('#ProAmount').val(returnDataTwo.Data.ProAmount);
                    DecideOption("product", returnDataTwo.Data.ProductId);
                    DecideOption("profession", returnDataTwo.Data.ProfessionId);
                    DecideOption("visitKind", returnDataTwo.Data.VisitKind);
                    DecideOption("phrase", returnDataTwo.Data.PhraseId);
                    for (y in returnDataTwo.Data.RqIds) {
                        var rq = returnDataTwo.Data.RqIds[y];
                        RqClick(rq);
                    }
                    VisitNote(returnDataTwo.Data.RemarkInfos);
                })
            })
        }

        function InitStaticInfo(Id, data) {
            for (x in data) {
                var dataInfo = data[x];
                $('#' + Id).append("<option myId='" + dataInfo.Id + "'>" + dataInfo.Name + "</option>");
            }
        }

        function InitRq(data) {
            var td = "";
            for (x in data) {
                var dataInfo = data[x];
                $('#spanRq').append("<label onclick='RequireClick(this)' class='uncheckedbox' myId='" + dataInfo.Id + "'>" + dataInfo.Name + "</label>");
                $('#spanRq').append("&nbsp;&nbsp;&nbsp;&nbsp;");
            }
        }


        function DecideOption(Id, compareId) {
            var options = $('#' + Id + ' option').each(function () {
                $(this).attr('myId') == compareId,
                $(this).attr("selected", true);
            });
        }


        function RequireClick(object) {
            if ($(object).hasClass('uncheckedbox')) {
                $(object).removeClass('uncheckedbox');
                $(object).addClass('checkedbox');
            }
            else {
                $(object).removeClass('checkedbox');
                $(object).addClass('uncheckedbox');
            }
        }
        function RqClick(id) {
            RequireClick($('#spanRq label[myId=' + id + ']'));
        }

        function VisitNote(data) {
            for (x in data) {
                var dataInfo = data[x];
                var appendStr = '<div style="margin-bottom:35px" class="vra_field_rows"><div><label>拜访人:</label><label>' + dataInfo.VisitPersonName + '(' + dataInfo.TimeStr + ')' + '</label></div><div><label>拜访记录:</label> <label>' + dataInfo.Remark + '</label></div></div>'
                $('#VisitNote').append(appendStr);
            }
        }
    </script>
</head>
<body class="contextStyle">
    <input id="reportId" type="hidden" value="@ViewBag.ReportId" />
    <div class="container font_common wholeLine">
        <div class="DefaultLine wholeLine" style="height:30px">
            <div class="fl Font_Color_w bold vertical-center">
                &nbsp;&nbsp;客户拜访信息
            </div>
            <div class="fr vertical-center"><a href="#" class="Font_Color_w bold ">注销 &nbsp;&nbsp;  </a></div>
        </div>
        <div style="height:15px">
        </div>
        <div class="vra_field_rows">
            <label>客户名称:</label>
            <label class="txtbox2" id="CustomerName"></label>
        </div>
        <div class="vra_field_rows">
            <label>月结账号:</label>
            <input type="text" class="txtbox2" id="MonthlyAccount" readonly="readonly">
        </div>

        <div class="vra_field_rows">
            <label>潜力金额:</label>
            <input type="text" class="txtbox2" id="ProAmount" readonly="readonly">
        </div>
        <div style="height:100px ">
            <div style="padding-left:55px">
                <div style="height:15px"></div>
                <div style="width:100%;height:30px;inline-box-align: left">

                    <div class="fl" style="inline-box-align: left">
                        产品:
                    </div>
                    <div class=" fl ddl_div" style="inline-box-align: left; margin-right: 20%">
                        <select class="ddl" id="product"></select>
                    </div>
                    <!--place holder-->

                    <div class="fl" style="inline-box-align: left">
                        行业:
                    </div>
                    <div class="ddl" style="inline-box-align: left">
                        <select class="ddl" id="profession"></select>
                    </div>
                </div>
                <div style="height:15px"></div>
                <div style="width:100%;height:30px;">

                    <div class="fl" style="inline-box-align: left; ">
                        类型:
                    </div>
                    <div class="fl ddl_div" style="inline-box-align: left; margin-right: 20%">
                        <select class="ddl" id="visitKind"></select>
                    </div>
                    <div class="fl" style="inline-box-align: left">
                        阶段:
                    </div>
                    <div class="fl ddl_div" style="inline-box-align: ">
                        <select class="ddl" id="phrase"></select>
                    </div>
                </div>

            </div>

        </div>
        <div class="vra_field_rows">
            <label>
                需求:
            </label>
            <span id="spanRq"></span>
        </div>

        <div id="VisitNote">
        </div>
        <div id="VisitNoteWrite" style="display:none">
            <div style="margin-bottom:35px" class="vra_field_rows">
                <div>
                    <label>拜访人:</label>
                    <input type="text" id="visitPerson" />
                </div>
                <div>
                    <label>拜访记录:</label>
                    <input type="text" id="visitNote" />
                </div>
            </div>
        </div>
        <div>
            <div style="margin:10px;height:20px">
            </div>
            <div id="btn_Modify">
                <input type="button" id="buttonUpdate" style="position: relative;left:40%;right:40%" class="button blue" value="修 改" />
                <input type="button" id="buttonUpdateFishin" style="display:none; position: relative;left:40%;right:40%" class="button blue" value="完 成" />
            </div>
        </div>
        <div class="alignment-center font_common" style=" position:absolute;bottom:20px; left:10%; right:10%">Industry development and management</div>
    </div>
</body>
<footer></footer>
</html>
